body{
  margin: 0;
}
header{
  grid-area: header;
}
main{
  grid-area: main;
}
section{
  grid-area: section;
}
article{
  grid-area: article;
}
footer{
  grid-area: footer;
}
div{
display: grid;
width: 100vw ;
  height: 100vh;
grid-template-areas:
"header header"
"main main"
"section article"
"footer footer"
;
grid-template-columns: 3fr 2fr;
grid-template-rows: 2fr 3fr 3fr 1fr;}
header,main,section,article,footer {
  background-color: #e59c6e;
  border: 1px solid;
}
