body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  width: 50vw;
  height: 40vh;
  background-image: url("images/first-website-header.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: end;
}
header p{
  font-family: 'Abril Fatface', serif;
  color: #222;
  margin: 0;
  font-size: 33px;
}
main{
  width: 30vw;
}
main p{
  font-family: 'Josefin Sans', sans-serif;
  color: #222;
}
#first_list{
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: square;
  font-size: 20px;
}
.first_paragraph{
  margin-top: 60px;
  font-size: 22px;
}
.quote_1{
  width: 100%;
  height: 15vh;
  background: rgba(23, 22, 22, 0.53);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote_1 p{
  color: white;
  font-size: 37px;
  font-family: 'Merriweather', serif;
}
.quote_1 p::before{
  content: '” ';
  font-size: 70px;
}
h3{
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 40px 40px 40px 0;
}
h4{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin: 40px 40px 40px 0;
}
.quote_2{
  width: 100%;
  height: 15vh;
  background: rgba(23, 22, 22, 0.53);
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote_2 p{
  color: white;
  font-size: 40px;
  font-family: 'Merriweather', serif;
  margin-left: 30px;
}
.quote_2 p::before{
  content: '” ';
  font-size: 70px;
}
.subtitles{
  font-family: 'Merriweather', serif;
  margin: 0;
  font-size: 14px;
  font-style: italic;
}
main ul{
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: square;
  font-size: 16px;
}
.head_4{
  margin: 40px 0 0 0 ;
}
.black-line{
  background: rgba(23, 22, 22, 0.53);
  width: 100%;
  height: 4px;
}
