main{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3,1fr);
  grid-gap: 10px;
}
div{
  border: 1px solid;
  display: grid;
  justify-content: center;
  align-items: center;
}
