body{
  margin: 0;
}
header{
  height: 20vh;
  background-color: #b3d4fc;
}
footer{
  height: 20vh;
  background-color: #b3d4fc;
}
section{
  width: 33.4vw;
  height: 60vh;
  background-color: #59b49a;
  border: 1px solid ;
}
div{
  display: flex;
}
aside{
  display: none;
}
